/* .heading_nav .heading_nav-icon {
    position: relative;
} */
body{
    position: relative;
}
.heading_nav .heading_nav-icon .fa-solid{
    /* margin-top: 56px; */
    /* padding-top: 282px; */
}

.sub-nav {
    /* display: initial; */
    /* margin-top: 50px; */
    /* width: 90%;
    height: 80%; */
    /* background-color:green;
    position: relative;
    z-index: 2;
    bottom: 20px;
    left: 0; */
    background-color: white;
    box-shadow: 0px 0px 5px grey;
    display: none; 
    z-index: 2;
    height: 100vh;
    width: 40vw;
    position: fixed;
    padding-top: 10px;
}
#appear:checked ~ .sub-nav{
    display: block;
}
/* #appear:not(:checked){
    height: 50px;
    height: 100px;
    background-color: red;
} */
/* .heading_nav .heading_nav-icon ul {
    /* position: absolute; */
    /* padding-top: 50px; */
    

/* } */
/* .heading_nav .heading_nav-icon ul li{ */
    /* font-size:  */
/* } */ 
input {
    position: fixed;    
    z-index: 4;
    /* display: none; */
    opacity: 0;
    left: 0;
    height: 50px;
    width: 40%;
    
}
/* #open:checked ~ .open:hover{
    width: 30px;
    height: 30px;
    background-color: grey;
} */
.sub-nav ul li {
    font-size: 25px;
}
.sub-nav ul li {
  padding-bottom: 40px;
  padding-left: 20px;
  padding-top: 10px;
}
.sub-nav ul li:hover {
    background-color: grey;
}
a{
    text-decoration: none;
}
#close{
    width: 40%;
    height: 60px;
    left: 0px;
    top: 60px;
    
}

#close:checked ~ .sub-nav {
    display: none;

}
#close:checked ~ .open{
    display: initial;

}